
<left>
    <img src="http://epecora.com.br/DataFiles/PPGOLD_logo.png" width="500" alt="PPGOLD Data Science: INTRO"  />
</left>

# *Data Science - Aula 03*


---




Estimando o preço de venda de um carro



# Aula 03 de Data Science - LAB03

Tempo estimado: **60** minutos

## Objetivos

Após completar este LAB, você será capaz de:

* Tratar dados faltantes
* Transformar dados categóricos em numéricos
<hr>

In [63]:
# import libraries
import pandas as pd  # Biblioteca para os DataFrames 
import numpy as np   # Biblioteca Numérica


# Ler o arquivo, e atribua-o à variável "df".
my_file = "Auto_limpo.csv"

# Atribuir o arquivo a uma váriável DataFrame
df = pd.read_csv( my_file)

df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

## Valores Faltantes (Missing Data)

A primeira pergunta a ser feita é quantos dados estão faltando?

### Forma 1:

Para isso vamos criar um DataFrame chamado `missing_data` onde:

* "True" signifca que o valor é faltante 
* "False" signifca que o valor é presente

In [64]:
missing_data = df.isna()
missing_data.head(5)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

<h3>Contar valores ausentes em cada coluna</h3>
<p>
Usando um loop em Python, podemos descobrir rapidamente o número de valores em falta em cada coluna. Como mencionado acima, "True" representa um valor ausente e "False" significa que o valor está presente no conjunto de dados.  

No corpo do loop `for` , o método ".value_counts()" conta o número de valores "True" e "False". 
</p>

In [65]:
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("\n")

symboling
False    205
Name: symboling, dtype: int64


normalized-losses
False    164
True      41
Name: normalized-losses, dtype: int64


make
False    205
Name: make, dtype: int64


fuel-type
False    205
Name: fuel-type, dtype: int64


aspiration
False    205
Name: aspiration, dtype: int64


num-of-doors
False    203
True       2
Name: num-of-doors, dtype: int64


body-style
False    205
Name: body-style, dtype: int64


drive-wheels
False    205
Name: drive-wheels, dtype: int64


engine-location
False    205
Name: engine-location, dtype: int64


wheel-base
False    205
Name: wheel-base, dtype: int64


length
False    205
Name: length, dtype: int64


width
False    205
Name: width, dtype: int64


height
False    205
Name: height, dtype: int64


curb-weight
False    205
Name: curb-weight, dtype: int64


engine-type
False    205
Name: engine-type, dtype: int64


num-of-cylinders
False    205
Name: num-of-cylinders, dtype: int64


engine-size
False    205
Name: engine-size, dtype: int64


fuel-system
False    205
Name: fuel-system, dtype: int64


bore
False    201
True       4
Name: bore, dtype: int64


stroke
False    201
True       4
Name: stroke, dtype: int64


compression-ratio
False    205
Name: compression-ratio, dtype: int64


horsepower
False    203
True       2
Name: horsepower, dtype: int64


peak-rpm
False    203
True       2
Name: peak-rpm, dtype: int64


city-mpg
False    205
Name: city-mpg, dtype: int64


highway-mpg
False    205
Name: highway-mpg, dtype: int64


price
False    201
True       4
Name: price, dtype: int64

### Uma segunda forma mais simplificada de contar os valores faltantes nas colunas

In [66]:
for column in df.columns.values.tolist():
  total = df[column].isna().sum()
  if total > 1:
    print(column, "\t NaN = ",total)

normalized-losses 	 NaN =  41
num-of-doors 	 NaN =  2
bore 	 NaN =  4
stroke 	 NaN =  4
horsepower 	 NaN =  2
peak-rpm 	 NaN =  2
price 	 NaN =  4

### Valores faltantes por linha

In [67]:
for i in range(df.shape[0]):
  total = df.loc[[i]].isna().sum().sum()
  if total > 1:
    print("Linha ", i, "\t NaN = ",total)

Linha  9 	 NaN =  2
Linha  44 	 NaN =  2
Linha  45 	 NaN =  2
Linha  55 	 NaN =  2
Linha  56 	 NaN =  2
Linha  57 	 NaN =  2
Linha  58 	 NaN =  2
Linha  63 	 NaN =  2
Linha  129 	 NaN =  2
Linha  130 	 NaN =  3
Linha  131 	 NaN =  3

#  Quais são as opções para lidar com dados ausentes?


## Deletar os Dados
  * Deletar a linha inteira
  * Deletar a coluna inteira

As colunas inteiras só devem ser descartadas se a maioria dos dados da coluna estiver vazia. Em nosso conjunto de dados, nenhuma das colunas está vazia o suficiente para ser descartada completamente.

Quando temos uma linha com muitos dados faltantes, levanta-se a hipótese da veracidade dela. Portanto também podemos deletá-la.

-----
**Deletar a linha inteira:**

* "preço": 4 dados em falta, basta apagar a linha inteira

Razão: o preço é o que queremos prever. Qualquer entrada de dados sem dados de preço não pode ser usada para previsão; portanto, qualquer linha sem dados de preço não nos é útil.

-----

In [68]:
# Delete a linha toda com NaN na coluna "price" 
df.dropna(subset=["price"], axis=0, inplace = True)

#df = df.dropna(subset=["price"], axis=0)

# reset index, because we droped some rows
df.reset_index(drop = True, inplace = True)

df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

## Substituir dados
* Substituir pela média
* Substituir pela maior frequência
* Substituir com base em outras funções

Temos alguma liberdade para escolher qual método substituir os dados; no entanto, alguns métodos podem parecer mais razoáveis do que outros. 

**Substituir pela média:**

* "normalized-losses": 41 dados faltantes, substitua-os pela média
*"stroke": 4 dados faltantes, substitua-os pela média
* "bore": 4 dados faltantes, substitua-os pela média<
*"horse-power": 2 dados faltantes, substitua-os pela média
*"peak-rpm": 2 dados faltantes, substitua-os pela média

**Substituir pela frequência:**

* "num-of-doors": 2 dados faltantes, substitua-os pelo valor mais frequente.

Razão: 84% de sedans são quatro portas. Como quatro portas é a mais frequente, é mais provável que ocorra

In [69]:
# Cálculo da média normalized-losses
avg_norm_loss = df["normalized-losses"].astype("float").mean(axis=0)
print("Average of normalized-losses:", avg_norm_loss)

# Substituição pela média normalized-losses
df["normalized-losses"].replace(np.nan, avg_norm_loss, inplace=True)

Average of normalized-losses: 122.0

In [70]:
# bore
avg_bore= df["bore"].astype("float").mean(axis=0)
print("Average of bore:", avg_bore)
df["bore"].replace(np.nan, avg_bore, inplace=True) 

# stroke
avg_stroke=df['stroke'].astype('float').mean(axis=0)
print("Average stroke:", avg_stroke)
df['stroke'].replace(np.nan, avg_stroke, inplace=True)

# horsepower
avg_horsepower = df['horsepower'].astype('float').mean(axis=0)
print("Average horsepower:", avg_horsepower)
df['horsepower'].replace(np.nan, avg_horsepower, inplace=True)

# peak-rpm
avg_peakrpm=df['peak-rpm'].astype('float').mean(axis=0)
print("Average peak rpm:", avg_peakrpm)
df['peak-rpm'].replace(np.nan, avg_peakrpm, inplace=True)

Average of bore: 3.3307106598984775
Average stroke: 3.2569035532994857
Average horsepower: 103.39698492462311
Average peak rpm: 5117.587939698493

# Categorical Data

## Valor mais frequente (Dados Categóricos)

In [71]:
# Valor mais frequente de num-of-doors
print(df['num-of-doors'].value_counts()) # imprime a contagem de cada valor

a = df['num-of-doors'].value_counts().idxmax() # idxmax pega o índice o maior valor

print("Valor mais frequente de num-of-doors: ", a)

#Substitua o valor 'num-of-doors' pelo mais frequente
df["num-of-doors"].replace(np.nan, a, inplace=True)

four    113
two      86
Name: num-of-doors, dtype: int64
Valor mais frequente de num-of-doors:  four

### Dá pra fazer melhor ?

SEMPRE !

In [72]:
df.groupby(['num-of-doors', "body-style"]).size()

num-of-doors  body-style
four          hatchback      10
              sedan          80
              wagon          25
two           convertible     6
              hardtop         8
              hatchback      58
              sedan          14
dtype: int64

## Desafio 

Como você subtituiria as portas considerando o tipo de carroceria?

## Devemos Conferir tudo

In [73]:
missing_data = df.isnull()
missing_data.head(5)

#for column in missing_data.columns.values.tolist():
#    print(column)
#    print (missing_data[column].value_counts())
#    print("") 
    
for column in df.columns.values.tolist():
  total = df[column].isna().sum()
  if (total > 1):
    print(column, "\t NaN = ",total)

## Exporte o seu novo DataFrame

In [79]:
path = "Auto_pronto.csv"

df.to_csv(path, index = False)

## References

Translated and inpired in the material developed by IBM:
<a href="https://www.linkedin.com/in/joseph-s-50398b136/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDA0101ENSkillsNetwork20235326-2021-01-01" target="_blank">Joseph Santarcangelo</a>
<br>
https://www.coursera.org/learn/data-analysis-with-python

## Change Log

|  Date (YYYY-MM-DD) |  Version | Changed By  |  Change Description |
|---|---|---|---|
| 2020-10-06  | 0.9  | <a href="https://www.linkedin.com/in/eduardopecora/" target="_blank">Eduardo Pécora</a> |  Initial development |
| 2021-03-12  | 1.0  | <a href="https://www.linkedin.com/in/eduardopecora/" target="_blank">Eduardo Pécora</a> |  Categorical Data |

<hr>